<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tom Cat</string>
	<key>Builder Version</key>
	<string>7534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>tumboard</string>
	<key>CFBundleIdentifier</key>
	<string>com.tomcat.tumboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>tumboard-postflight.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
				<string>tumboard-preflight.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>tumboard.style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.tumblr.com/dashboard*</string>
			<string>http://www.tumblr.com/likes*</string>
			<string>http://www.tumblr.com/tagged*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Keyboard shortcuts for your Dashboard.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
